@tailwind base;
@tailwind utilities;
@tailwind components;
@keyframes formAnimation {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-form {
    animation: formAnimation 3s ease-out forwards;
  }
  